.body {font-family: Arial, Helvetica, sans-serif;}
* {
    box-sizing: border-box;
    float: left;
    justify-content: center;
}

.form {
    width: 100%;
    /* margin-left: 25%; */
    /*margin-right: 5%; */
    text-align: center;
    margin-top: 15%;
    margin-left: 25%;
    margin-bottom: 5px;
    padding: 20px 0px 20px 360px;
}

.form .box {
    display: inline-block;
    box-sizing: border-box;
    color: black;
    text-decoration: none;
    height: 180px;
    width: 180px;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: bold;
    color: white;
    border: 1px solid rgb(255, 255, 255, 0.6);
    border-color: rgb(211, 208, 208);
    border-radius: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: center;
}

.tcase1 h2 {
    /* margin-top: 10%;*/
    margin-left: 5%; 
    margin-top: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
}

.tcase2 h2 {
    /* margin-top: 10%;*/
    margin-left: 5%; 
    margin-top: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
}

.tcase1 h3 {
    margin-top: 10%;
    margin-left: 10%;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 45px;
    font-weight: 700;
}

.tcase2 h3 {
    margin-top: 20%;
    margin-left: 10%;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 45px;
    font-weight: 700;
    justify-content: center;
}
